<html>
  <form action = "/listspace" method = "post">
    Name of Space:<br>
    <input type="text" name="name" placeholder="Name"><br>
    Description:<br>
    <input type="text" name="description" placeholder="Description"><br>
    Price:<br>
    <input type="number" name="price" placeholder="Price"><br>
    <input type = 'submit' value="Submit" />
  </form>
</html>
