<html>
<head>
<title> MakersBnb </title>
<link rel="stylesheet" href="src/homepage.css">
</head>
<body>
  <div id="login-box">
    <div class="left-box">
      <h1>Sign up</h1>
      <form method="post" action="/login/sign_up">
        <input type="text" name="su_email" placeholder="Email"/>
        <input type="text" name="su_password" placeholder="Password"/>
        <input type="submit" name="signup-button" value="Sign up"/>
      </form>
    </div>

    <div class="right-box">
      <h2>Log in</h2>
      <form method="post" action="/login/log_in">
        <input type="text" name="li_email" placeholder="Email "/>
        <input type="text" name="li_password" placeholder="Password "/>
        <input type="submit" name="login-button" value="Log in"/>
      </form>
    </div>

    <div class="or">OR</div>
  </div>
</body>
</html>
